Repository cwchanap/ursa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,astro}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

feat: remove model preloading logic from index page to simplify initialization flow
  src/pages/index.astro
Due: eslint --fix

feat: reset processing states when clearing media to prevent stale loading UI during mode transitions
  src/components/MediaViewer.svelte
Due: none

feat: improve resource cleanup and fix bbox expansion logic for negative padding values
  src/components/OCRResults.svelte
  src/lib/imageClassification.ts
  src/lib/ocrExtraction.ts
  src/lib/utils/bboxUtils.ts
Due: eslint --fix

feat: preserve processing status when stopping video analysis if results exist to prevent UI state reset
  src/components/MediaViewer.svelte
Due: none

feat: enhance image classification and OCR components with improved status handling and error messages
  specs/001-image-classification-ocr/contracts/analysis-api.ts
  src/components/MediaViewer.svelte
  src/lib/imageClassification.ts
Due: eslint --fix

feat: refactor MediaViewer and OCRResults components to use reactive state management for improved performance and maintainability; update ObjectDetectionOverlay tests with comprehensive mocks
  src/components/MediaViewer.svelte
  src/components/OCRResults.svelte
  src/components/ObjectDetectionOverlay.test.ts
  vitest.config.ts
Due: eslint --fix

fix: enable Svelte runes mode and convert components to use runes syntax
  src/components/AnalysisModeTabs.svelte
  src/components/ClassificationResults.svelte
  src/components/OCROverlay.svelte
  src/components/OCRResults.svelte
  src/components/ObjectDetectionOverlay.svelte
  svelte.config.js
Due: eslint --fix

feat: refactor OCRResults and ObjectDetectionOverlay components to use reactive state management for improved performance and maintainability
  src/components/OCRResults.svelte
  src/components/ObjectDetectionOverlay.svelte
Due: none

feat: add initial configuration for review path filters in .coderabbit.yaml
  .coderabbit.yaml
Due: none

Add specs/ to .gitignore and remove from version control
  .gitignore
  specs/001-image-classification-ocr/checklists/requirements.md
  specs/001-image-classification-ocr/contracts/analysis-api.ts
  specs/001-image-classification-ocr/data-model.md
  specs/001-image-classification-ocr/plan.md
  specs/001-image-classification-ocr/quickstart.md
  specs/001-image-classification-ocr/research.md
  specs/001-image-classification-ocr/spec.md
  specs/001-image-classification-ocr/tasks.md
Due: eslint --fix, prettier --write

feat: enhance image classification and OCR components with error handling and user feedback
  astro.config.mjs
  specs/001-image-classification-ocr/tasks.md
  src/components/ClassificationResults.svelte
  src/components/OCRResults.svelte
  src/lib/shims/node-fetch-browser.ts
Due: eslint --fix, prettier --write

feat: refactor image classification and OCR services to use singleton instances for improved performance and memory management
  astro.config.mjs
  src/components/MediaViewer.svelte
  src/lib/imageClassification.ts
Due: eslint --fix

feat: remove debug console logs from clipboard copy operations in MediaViewer component
  src/components/MediaViewer.svelte
Due: none

feat: implement image classification and OCR analysis with mode switching
  bun.lock
  package.json
  public/test-images/.gitkeep
  specs/001-image-classification-ocr/tasks.md
  src/components/AnalysisModeTabs.svelte
  src/components/ClassificationResults.svelte
  src/components/MediaViewer.svelte
  src/components/OCROverlay.svelte
  src/components/OCRResults.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/components/PerformanceMonitor.svelte
  src/lib/errors/analysisErrors.ts
  src/lib/imageClassification.ts
  src/lib/ocrExtraction.ts
  src/lib/stores/analysisState.ts
  src/lib/types/analysis.ts
  src/lib/utils/bboxUtils.ts
  src/lib/utils/memoryMonitor.ts
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: Add research, specification, and task documents for Image Classification and OCR support
  .claude/settings.local.json
  CLAUDE.md
  specs/001-image-classification-ocr/checklists/requirements.md
  specs/001-image-classification-ocr/contracts/analysis-api.ts
  specs/001-image-classification-ocr/data-model.md
  specs/001-image-classification-ocr/plan.md
  specs/001-image-classification-ocr/quickstart.md
  specs/001-image-classification-ocr/research.md
  specs/001-image-classification-ocr/spec.md
  specs/001-image-classification-ocr/tasks.md
Due: eslint --fix, prettier --write

feat: enhance error handling and user feedback across components, including image dimension validation and clipboard operations
  specs/001-image-classification-ocr/contracts/analysis-api.ts
  src/components/AnalysisModeTabs.svelte
  src/components/MediaViewer.svelte
  src/components/OCROverlay.svelte
  src/components/OCRResults.svelte
  src/lib/errors/analysisErrors.ts
  src/lib/imageClassification.ts
  src/lib/ocrExtraction.ts
  src/lib/stores/analysisState.ts
  src/lib/utils/bboxUtils.ts
Due: eslint --fix

fix: update path filters in .coderabbit.yaml for correct pattern matching
  .coderabbit.yaml
Due: none

feat: add model readiness polling and improve initialization handling for classification and OCR operations
  src/components/MediaViewer.svelte
  src/components/OCRResults.svelte
  src/components/ObjectDetectionOverlay.svelte
  vitest.config.ts
Due: eslint --fix

docs: update CLAUDE.md to reflect current architecture
  CLAUDE.md
Due: prettier --write

fix: add coco-ssd to Vite optimizeDeps to prevent page hang during model loading
  astro.config.mjs
Due: eslint --fix

docs: correct TensorFlow.js integration docs and add testing patterns
  CLAUDE.md
Due: prettier --write

feat: add E2E testing, history management, export functionality, and settings persistence
  .claude/settings.local.json
  bun.lock
  e2e/export.spec.ts
  e2e/history.spec.ts
  e2e/settings.spec.ts
  package.json
  playwright.config.ts
  public/test-images/test-image.png
  src/assets/test-image.png
  src/components/ExportPanel.svelte
  src/components/HistoryPanel.svelte
  src/components/MediaViewer.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/components/SettingsFPSSlider.svelte
  src/components/SettingsFPSSlider.test.ts
  src/lib/repositories/historyRepository.test.ts
  src/lib/repositories/historyRepository.ts
  src/lib/repositories/settingsRepository.test.ts
  src/lib/repositories/settingsRepository.ts
  src/lib/services/exportService.test.ts
  src/lib/services/exportService.ts
  src/lib/stores/historyStore.test.ts
  src/lib/stores/historyStore.ts
  src/lib/stores/settingsStore.test.ts
  src/lib/stores/settingsStore.ts
  src/lib/types/export.test.ts
  src/lib/types/export.ts
  src/lib/types/history.test.ts
  src/lib/types/history.ts
  src/lib/types/settings.test.ts
  src/lib/types/settings.ts
Due: eslint --fix, prettier --write

chore: add playwright test artifacts to gitignore
  .gitignore
Due: none

Implement history and export features with comprehensive testing
  src/components/ExportPanel.svelte
  src/components/HistoryPanel.svelte
  src/lib/repositories/historyRepository.test.ts
  src/lib/repositories/historyRepository.ts
  src/lib/services/exportService.test.ts
  src/lib/stores/historyStore.test.ts
  src/lib/stores/historyStore.ts
Due: eslint --fix

fix: prevent duplicate history saves and improve settings validation
  src/components/MediaViewer.svelte
  src/components/SettingsFPSSlider.svelte
  src/lib/services/exportService.test.ts
  src/lib/services/exportService.ts
  src/lib/stores/historyStore.test.ts
  src/lib/stores/historyStore.ts
  src/lib/types/history.test.ts
  src/lib/types/history.ts
  src/lib/types/settings.test.ts
  src/lib/types/settings.ts
Due: eslint --fix

fix: address all code review issues (P1-P3 severity)
  e2e/export.spec.ts
  e2e/history.spec.ts
  src/components/ExportPanel.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/lib/repositories/historyRepository.ts
  src/lib/repositories/settingsRepository.ts
  src/lib/stores/settingsStore.ts
  src/lib/types/history.ts
  src/lib/types/settings.test.ts
Due: eslint --fix

fix: address all PR review issues (P0-P1 severity)
  src/components/HistoryPanel.svelte
  src/lib/repositories/historyRepository.ts
  src/lib/services/exportService.ts
  src/lib/stores/settingsStore.ts
  src/lib/types/history.ts
  src/lib/types/settings.ts
Due: eslint --fix

fix: address code review issues (security, refactoring, testing, validation)
  .claude/settings.local.json
  e2e/history.spec.ts
  src/components/HistoryPanel.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/lib/types/settings.ts
Due: eslint --fix, prettier --write

fix: scale detection/OCR results with image compression to prevent misaligned overlays
  src/lib/repositories/historyRepository.ts
Due: eslint --fix

fix: update test docs and fix classification/OCR test cases
  CLAUDE.md
  src/lib/types/history.test.ts
Due: eslint --fix, prettier --write

fix: validate dimensions and thresholds, fix history store reload behavior
  src/lib/repositories/historyRepository.test.ts
  src/lib/repositories/historyRepository.ts
  src/lib/stores/historyStore.test.ts
  src/lib/stores/historyStore.ts
  src/lib/types/settings.test.ts
  src/lib/types/settings.ts
Due: eslint --fix

fix: prevent OCR image export from also downloading text file
  src/components/ExportPanel.svelte
  src/components/ExportPanel.test.ts
Due: eslint --fix

fix: improve FPS threshold validation and test assertions
  src/components/ExportPanel.test.ts
  src/lib/types/settings.ts
Due: eslint --fix
