Repository cwchanap/ursa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Implement history and export features with comprehensive testing
  src/components/ExportPanel.svelte
  src/components/HistoryPanel.svelte
  src/lib/repositories/historyRepository.test.ts
  src/lib/repositories/historyRepository.ts
  src/lib/services/exportService.test.ts
  src/lib/stores/historyStore.test.ts
  src/lib/stores/historyStore.ts
Due: eslint --fix

fix: update test docs and fix classification/OCR test cases
  CLAUDE.md
  src/lib/types/history.test.ts
Due: eslint --fix, prettier --write

fix: scale detection/OCR results with image compression to prevent misaligned overlays
  src/lib/repositories/historyRepository.ts
Due: eslint --fix

fix: prevent duplicate history saves and improve settings validation
  src/components/MediaViewer.svelte
  src/components/SettingsFPSSlider.svelte
  src/lib/services/exportService.test.ts
  src/lib/services/exportService.ts
  src/lib/stores/historyStore.test.ts
  src/lib/stores/historyStore.ts
  src/lib/types/history.test.ts
  src/lib/types/history.ts
  src/lib/types/settings.test.ts
  src/lib/types/settings.ts
Due: eslint --fix

docs: correct TensorFlow.js integration docs and add testing patterns
  CLAUDE.md
Due: prettier --write

fix: prevent OCR image export from also downloading text file
  src/components/ExportPanel.svelte
  src/components/ExportPanel.test.ts
Due: eslint --fix

chore: add playwright test artifacts to gitignore
  .gitignore
Due: none

fix: improve FPS threshold validation and test assertions
  src/components/ExportPanel.test.ts
  src/lib/types/settings.ts
Due: eslint --fix

fix: validate dimensions and thresholds, fix history store reload behavior
  src/lib/repositories/historyRepository.test.ts
  src/lib/repositories/historyRepository.ts
  src/lib/stores/historyStore.test.ts
  src/lib/stores/historyStore.ts
  src/lib/types/settings.test.ts
  src/lib/types/settings.ts
Due: eslint --fix

feat: add E2E testing, history management, export functionality, and settings persistence
  .claude/settings.local.json
  bun.lock
  e2e/export.spec.ts
  e2e/history.spec.ts
  e2e/settings.spec.ts
  package.json
  playwright.config.ts
  public/test-images/test-image.png
  src/assets/test-image.png
  src/components/ExportPanel.svelte
  src/components/HistoryPanel.svelte
  src/components/MediaViewer.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/components/SettingsFPSSlider.svelte
  src/components/SettingsFPSSlider.test.ts
  src/lib/repositories/historyRepository.test.ts
  src/lib/repositories/historyRepository.ts
  src/lib/repositories/settingsRepository.test.ts
  src/lib/repositories/settingsRepository.ts
  src/lib/services/exportService.test.ts
  src/lib/services/exportService.ts
  src/lib/stores/historyStore.test.ts
  src/lib/stores/historyStore.ts
  src/lib/stores/settingsStore.test.ts
  src/lib/stores/settingsStore.ts
  src/lib/types/export.test.ts
  src/lib/types/export.ts
  src/lib/types/history.test.ts
  src/lib/types/history.ts
  src/lib/types/settings.test.ts
  src/lib/types/settings.ts
Due: eslint --fix, prettier --write

fix: address code review issues (security, refactoring, testing, validation)
  .claude/settings.local.json
  e2e/history.spec.ts
  src/components/HistoryPanel.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/lib/types/settings.ts
Due: eslint --fix, prettier --write

fix: address all code review issues (P1-P3 severity)
  e2e/export.spec.ts
  e2e/history.spec.ts
  src/components/ExportPanel.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/lib/repositories/historyRepository.ts
  src/lib/repositories/settingsRepository.ts
  src/lib/stores/settingsStore.ts
  src/lib/types/history.ts
  src/lib/types/settings.test.ts
Due: eslint --fix

ci: add test coverage reporting and E2E workflow with Playwright
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  vitest.config.ts
Due: eslint --fix, prettier --write

test: add Vitest coverage reporting with v8 provider
  .gitignore
  bun.lock
  package.json
Due: prettier --write

chore: remove local Claude settings from git tracking
  .claude/settings.local.json
  .gitignore
Due: prettier --write

Add specs folder to gitignore and commit HistoryPanel changes
  .gitignore
  src/components/HistoryPanel.svelte
Due: none

test: switch from v8 to istanbul coverage provider and upgrade vitest
  bun.lock
  package.json
  src/components/HistoryPanel.svelte
  vitest.config.ts
Due: eslint --fix, prettier --write

Add unit tests for previously untested modules
  src/components/AnalysisModeTabs.test.ts
  src/components/ClassificationResults.test.ts
  src/lib/errors/analysisErrors.test.ts
  src/lib/stores/analysisState.test.ts
  src/lib/utils.test.ts
  src/lib/utils/bboxUtils.test.ts
  src/lib/utils/memoryMonitor.test.ts
Due: eslint --fix

Increase test coverage by 8.9% (57% -> 66% statements)
  src/components/OCRResults.test.ts
  src/components/PerformanceMonitor.test.ts
  src/lib/stores/createHistoryEntryInput.test.ts
Due: eslint --fix

Add coverage/ to .gitignore
  .gitignore
Due: none

Address Copilot review comments on test quality
  src/components/OCRResults.test.ts
  src/lib/utils/memoryMonitor.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,astro}
  prettier --write: any of: *.{json,md}
