Repository cwchanap/ursa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,astro}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

feat: integrate AI object detection capabilities into media viewer
  .gitignore
  package-lock.json
  package.json
  src/components/MediaViewer.astro
  src/components/ObjectDetectionOverlay.astro
  src/lib/objectDetection.ts
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: add EditorConfig for consistent coding styles
  .editorconfig
Due: none

Implement code changes to enhance functionality and improve performance
  package-lock.json
Due: prettier --write

feat: add comprehensive documentation for Ursa AI object detection architecture and workflows
  .github/copilot-instructions.md
Due: prettier --write

feat: refactor ObjectDetectionOverlay component and add initialization logic
  src/components/ObjectDetectionOverlay.astro
  src/lib/objectDetectionOverlay.ts
Due: eslint --fix

feat: create symlinks from .github/agents to .claude/commands
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
Due: prettier --write

feat: add SpecKit workflow templates, commands, and configuration
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .github/prompts/speckit.analyze.prompt.md
  .github/prompts/speckit.checklist.prompt.md
  .github/prompts/speckit.clarify.prompt.md
  .github/prompts/speckit.constitution.prompt.md
  .github/prompts/speckit.implement.prompt.md
  .github/prompts/speckit.plan.prompt.md
  .github/prompts/speckit.specify.prompt.md
  .github/prompts/speckit.tasks.prompt.md
  .github/prompts/speckit.taskstoissues.prompt.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  .vscode/settings.json
Due: prettier --write

feat: update .editorconfig for consistent indentation and enhance constitution documentation
  .editorconfig
  .specify/memory/constitution.md
  CLAUDE.md
Due: prettier --write

feat: integrate Svelte components for media viewing and object detection
  astro.config.mjs
  bun.lock
  eslint.config.js
  package.json
  src/components/Button.svelte
  src/components/MediaViewer.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat(tests): add unit tests for Button, MediaViewer, ObjectDetectionOverlay components
  bun.lock
  eslint.config.js
  package.json
  src/tests/components/Button.test.ts
  src/tests/components/MediaViewer.test.ts
  src/tests/components/ObjectDetectionOverlay.test.ts
  src/tests/setup.ts
  svelte.config.js
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor: colocate component tests with source files
  eslint.config.js
  src/components/Button.astro
  src/components/Button.test.ts
  src/components/MediaViewer.astro
  src/components/MediaViewer.test.ts
  src/components/ObjectDetectionOverlay.astro
  src/components/ObjectDetectionOverlay.test.ts
  vitest.config.ts
Due: eslint --fix

feat: add CI workflow for build, lint, and unit testing
  .claude/settings.local.json
  .github/workflows/ci.yml
Due: prettier --write

refactor: migrate TensorFlow.js from CDN to npm package imports
  eslint.config.js
  src/lib/objectDetection.ts
  src/pages/index.astro
Due: eslint --fix

Enhance homepage with cosmic theme and animations; add starfield background, gradient mesh overlay, and updated typography for improved visual appeal.
  .claude/settings.local.json
  src/components/MediaViewer.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/pages/index.astro
Due: eslint --fix, prettier --write

refactor: update button labels and improve accessibility in MediaViewer and ObjectDetectionOverlay components
  src/components/MediaViewer.test.ts
  src/components/ObjectDetectionOverlay.svelte
  src/components/ObjectDetectionOverlay.test.ts
  src/pages/index.astro
Due: eslint --fix

refactor: consolidate CSS custom properties in global.css
  src/components/MediaViewer.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/pages/index.astro
  src/styles/global.css
Due: eslint --fix

refactor: improve accessibility and code quality across components
  .github/copilot-instructions.md
  src/components/MediaViewer.svelte
  src/components/MediaViewer.test.ts
  src/components/ObjectDetectionOverlay.svelte
  src/pages/index.astro
Due: eslint --fix, prettier --write

chore: add CLAUDE.md file for guidance on repository usage
  AGENTS.md
Due: prettier --write

refactor: improve error handling in ObjectDetectionOverlay and update test description in MediaViewer
  src/components/MediaViewer.test.ts
  src/components/ObjectDetectionOverlay.svelte
Due: eslint --fix

feat: Add research, specification, and task documents for Image Classification and OCR support
  .claude/settings.local.json
  CLAUDE.md
  specs/001-image-classification-ocr/checklists/requirements.md
  specs/001-image-classification-ocr/contracts/analysis-api.ts
  specs/001-image-classification-ocr/data-model.md
  specs/001-image-classification-ocr/plan.md
  specs/001-image-classification-ocr/quickstart.md
  specs/001-image-classification-ocr/research.md
  specs/001-image-classification-ocr/spec.md
  specs/001-image-classification-ocr/tasks.md
Due: eslint --fix, prettier --write

feat: implement image classification and OCR analysis with mode switching
  bun.lock
  package.json
  public/test-images/.gitkeep
  specs/001-image-classification-ocr/tasks.md
  src/components/AnalysisModeTabs.svelte
  src/components/ClassificationResults.svelte
  src/components/MediaViewer.svelte
  src/components/OCROverlay.svelte
  src/components/OCRResults.svelte
  src/components/ObjectDetectionOverlay.svelte
  src/components/PerformanceMonitor.svelte
  src/lib/errors/analysisErrors.ts
  src/lib/imageClassification.ts
  src/lib/ocrExtraction.ts
  src/lib/stores/analysisState.ts
  src/lib/types/analysis.ts
  src/lib/utils/bboxUtils.ts
  src/lib/utils/memoryMonitor.ts
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: enhance image classification and OCR components with error handling and user feedback
  astro.config.mjs
  specs/001-image-classification-ocr/tasks.md
  src/components/ClassificationResults.svelte
  src/components/OCRResults.svelte
  src/lib/shims/node-fetch-browser.ts
Due: eslint --fix, prettier --write

feat: enhance error handling and user feedback across components, including image dimension validation and clipboard operations
  specs/001-image-classification-ocr/contracts/analysis-api.ts
  src/components/AnalysisModeTabs.svelte
  src/components/MediaViewer.svelte
  src/components/OCROverlay.svelte
  src/components/OCRResults.svelte
  src/lib/errors/analysisErrors.ts
  src/lib/imageClassification.ts
  src/lib/ocrExtraction.ts
  src/lib/stores/analysisState.ts
  src/lib/utils/bboxUtils.ts
Due: eslint --fix

fix: enable Svelte runes mode and convert components to use runes syntax
  src/components/AnalysisModeTabs.svelte
  src/components/ClassificationResults.svelte
  src/components/OCROverlay.svelte
  src/components/OCRResults.svelte
  src/components/ObjectDetectionOverlay.svelte
  svelte.config.js
Due: eslint --fix

feat: enhance image classification and OCR components with improved status handling and error messages
  specs/001-image-classification-ocr/contracts/analysis-api.ts
  src/components/MediaViewer.svelte
  src/lib/imageClassification.ts
Due: eslint --fix

feat: add initial configuration for review path filters in .coderabbit.yaml
  .coderabbit.yaml
Due: none

fix: update path filters in .coderabbit.yaml for correct pattern matching
  .coderabbit.yaml
Due: none

feat: refactor image classification and OCR services to use singleton instances for improved performance and memory management
  astro.config.mjs
  src/components/MediaViewer.svelte
  src/lib/imageClassification.ts
Due: eslint --fix

feat: refactor OCRResults and ObjectDetectionOverlay components to use reactive state management for improved performance and maintainability
  src/components/OCRResults.svelte
  src/components/ObjectDetectionOverlay.svelte
Due: none

Add specs/ to .gitignore and remove from version control
  .gitignore
  specs/001-image-classification-ocr/checklists/requirements.md
  specs/001-image-classification-ocr/contracts/analysis-api.ts
  specs/001-image-classification-ocr/data-model.md
  specs/001-image-classification-ocr/plan.md
  specs/001-image-classification-ocr/quickstart.md
  specs/001-image-classification-ocr/research.md
  specs/001-image-classification-ocr/spec.md
  specs/001-image-classification-ocr/tasks.md
Due: eslint --fix, prettier --write

feat: refactor MediaViewer and OCRResults components to use reactive state management for improved performance and maintainability; update ObjectDetectionOverlay tests with comprehensive mocks
  src/components/MediaViewer.svelte
  src/components/OCRResults.svelte
  src/components/ObjectDetectionOverlay.test.ts
  vitest.config.ts
Due: eslint --fix

feat: add model readiness polling and improve initialization handling for classification and OCR operations
  src/components/MediaViewer.svelte
  src/components/OCRResults.svelte
  src/components/ObjectDetectionOverlay.svelte
  vitest.config.ts
Due: eslint --fix

feat: remove debug console logs from clipboard copy operations in MediaViewer component
  src/components/MediaViewer.svelte
Due: none
